{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header">Dossiers</h2>
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading" style="margin-bottom: 10px;">Fichiers</div>
    <div class="row">
        {% for dossier in dossiers %}
        <div class="col-md-2">
            <div class="dossier">
                <a href="{{ path('fichiers', {'id': dossier.id}) }}">
                    <i class="fa fa-folder" aria-hidden="true"></i>
                    <span class="label label-primary">{{ dossier.fichiers|length
                        }}
                        {% if dossier.fichiers|length > 1 %}
                            Fichiers
                        {% else %}
                            Fichier
                        {% endif %}
                    </span>
                    <p>{{ dossier.name }}</p>
                </a>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>



{% endblock %}