{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header">Edition du profil <small>{{ user.username
            }}</small></h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}