{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header">Reply</h2>
    <a class="btn btn-default" href="{{ path('forum') }}">Back to Forum</a>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}